[Unit]
Description=BrawlGo Analytics API
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/BrawlGoStats
ExecStart=/usr/local/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker api:app --bind 0.0.0.0:8089
Restart=always

[Install]
WantedBy=multi-user.target
